/*
* ===============
*   HEADER & NAV 
* ===============
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  &__menu {
    @media (max-width: 1023px) {
      position: fixed;
      bottom: 1.5rem;
      background-color: var(--body-color);
      box-shadow: 0 4px 12px hsla(220, 18%, 40%, 0.15);
      width: 90%;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 1.25rem 2.8rem;
      border-radius: 0.5rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    display: grid;
    justify-items: center;
    row-gap: 0.25rem;

    & i {
      font-size: 1.25rem;
    }

    & span {
      font-size: 0.688rem;
    }
  }
}

/* Change background header */

/* Active link */
